
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.kiro
start-cf.bat
cloudflared.exe
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> Custom Ignores ###
# Environment variables
.env
/.env.*
!.env.example

# IDEs
/.idea/
/.vscode/

# SQLite Databases
/var/data.db
/*.sqlite
/*.db

# Logs
/*.log
/scratch/
/test_ai_settings.php
###< Custom Ignores ###
public/uploads